.row-fluid
  .span8
    %h1 About this project
    %p
      By using the categories of the NIST Cybersecurity Framework and it is refined by the NTCA, we don't not need to carry out a construct creation process, instead we only need to operationalize the NIST categories for our survey. Additionally, we need a mechanism to validate NTCA prioritization. In order to do this, in this phase we will  employ pairwise wiki surveys developed by All Our Ideas research group at Princeton to (1) understand how operators prioritize best practices and (2) to elicit any new practices that may not be included in the NIST list. A pairwise wiki survey consists of a single question with many possible answer items. Respondents can either make a pairwise comparison between items or then can add new items to be present to future respondents.
    %p
      Because All Our Ideas is a research project, we will be analyzing the data that you create. However, we will respect your privacy, and we will never sell your data to anyone. These issues are described more fully in our privacy and consent policy.
    %p
      All Our Ideas is powered by <a href="https://github.com/allourideas">open source</a> software. Feel free to review, remix, or redesign. Also, you can use our <a href="https://github.com/allourideas/pairwise-api/wiki/API-Documentation">API</a> to create your own pairwise comparison site.
    %p
      For more frequent updates on the project, you can <a href="http://blog.allourideas.org/">read our blog</a>, <a href="http://twitter.com/allourideas">follow us on Twitter</a> or <a href="https://www.facebook.com/allourideas">Like us on Facebook.</a>
    %p
      You can contact us by email at
      = mail_to(APP_CONFIG[:INFO_ALLOURIDEAS_EMAIL])
    %p
      = link_to(t('nav.privacy_policy'), privacy_path)

  .span4
    %h3= t('about.current_contributors')
    %p
      %strong= link_to('Innocent Ndubuisi-Obi Jr', 'https://blog.uzodi.com/about')
      %br
      Paul G. Allen School of Computer Science and Engineering, University of Washington
    %p
      %strong= link_to('Franziska Roesner', 'https://www.franziroesner.com/')
      %br
      Paul G. Allen School of Computer Science and Engineering, University of Washington
    %p
      %strong= link_to('Kurtis Heimerl', 'https://kurti.sh/')
      %br
      Paul G. Allen School of Computer Science and Engineering, University of Washington


