.row-fluid
  .span10.offset1
    .aoi-hero-unit
      %h1.headline Understanding the Security Practices of Network Operators
      %h3.sub-headline In this study our aim is to understand the security practices of small network operators. Through our research design, we hope to understand if and how practices are anchored in social context and the role social circles (network operators groups, vendor relationships) inform operator’s security practices. Specifically, we want to understand how this anchoring effect through it influences the results researchers receive from Likert-scale type questionnaires and surveys.
      %p.headline-buttons
        %a.btn.btn-large.btn-success{:href => "/#{@example_earl}?guides=true"}
          Take the Survey!
.how-it-works
  .row-fluid
    .span12
      %h3.title How a Wiki Survey works
  .row-fluid.boxes
    .span6.divider-holder
      .divider.hidden-phone
      .participate-holder
        %a{:href => "/#{@example_earl}?guides=true"}
          = image_tag('homepage/participate.png')
      %h3
        %a{:href => "/#{@example_earl}?guides=true"}
          Participate
      %p The participants you invite will enjoy our simple process of voting and adding new ideas.
    .span6
      %a{:href => "/#{@example_earl}/results"}
        = image_tag('homepage/discover.png')
      %h3
        %a{:href => "/#{@example_earl}/results"}
          Discover
      %p The best ideas will bubble to the top using our system that is open, transparent, and powerful.

.row-fluid
  .span10.offset1
    .descriptions
      .row-fluid
        .span5.pull-right.image.math-formula
          = image_tag('homepage/math-formula.png')
        .span7
          %h3 Backed by research
          %p
            All Our Ideas is a research project based at Princeton University that is dedicated to creating new ways of collecting social data. You can learn more about the theory and methods behind our project by&nbsp;
            %a{:href => "http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0123483"}>reading our paper
            ,&nbsp;
            %a{:href => "https://www.youtube.com/watch?v=ogryxTAgjTc"}>watching our talk
            , or
            %a{:href => "http://www.bitbybitbook.com/en/asking-questions/how/wiki/"} reading about wiki surveys
            in Matthew Salganik’s book&nbsp;
            %a{:href => "http://www.bitbybitbook.com/"}>Bit by Bit: Social Research in the Digital Age
            \. Thanks to Google, the National Science Foundation, and Princeton for supporting this research.
.row-fluid
  .span12
    %h3.overall-stats
      Currently hosting
      %span.wiki-surveys-count
        = number_with_delimiter(@stats['total_questions'])
      wiki surveys with
      %span.ideas-count
        = number_with_delimiter(@stats['choices_count'])
      ideas and
      %span.votes-count
        - if @stats['votes_count'] >= 1000000
          = (@stats['votes_count'] / 1000000.0).round(1)
          million
        - else
          = number_with_delimiter(@stats['votes_count'])
